		<div data-elementor-type="wp-page" data-elementor-id="271" class="elementor elementor-271" data-elementor-post-type="page">
				<div class="elementor-element elementor-element-308c2a3 e-flex e-con-boxed e-con e-parent" data-id="308c2a3" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-8fc0bb3 e-con-full e-flex e-con e-child" data-id="8fc0bb3" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-2691c64 e-con-full e-flex e-con e-child" data-id="2691c64" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-ea33bc6 elementor-widget__width-initial elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="ea33bc6" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				<div class="elementor-element elementor-element-512f3f0 elementor-widget elementor-widget-heading" data-id="512f3f0" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Reimbursement Intelligence</p>				</div>
				</div>
				<div class="elementor-element elementor-element-f67d5f1 elementor-headline--style-highlight elementor-widget elementor-widget-animated-headline" data-id="f67d5f1" data-element_type="widget" data-e-type="widget" data-settings="{&quot;highlighted_text&quot;:&quot;By State&quot;,&quot;headline_style&quot;:&quot;highlight&quot;,&quot;marker&quot;:&quot;circle&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;highlight_animation_duration&quot;:1200,&quot;highlight_iteration_delay&quot;:8000}" data-widget_type="animated-headline.default">
							<h1 class="elementor-headline">
					<span class="elementor-headline-plain-text elementor-headline-text-wrapper">Behavioral Health Reimbursement Rates</span>
				<span class="elementor-headline-dynamic-wrapper elementor-headline-text-wrapper">
					<span class="elementor-headline-dynamic-text elementor-headline-text-active">By State</span>
				</span>
				</h1>
						</div>
				<div class="elementor-element elementor-element-a45fe60 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-text-editor" data-id="a45fe60" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Behavioral health reimbursement rates vary dramatically by state. Partner with specialists who know every payer, every state, every rate.</p>								</div>
				<div class="elementor-element elementor-element-f4b8ab9 elementor-widget elementor-widget-button" data-id="f4b8ab9" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="tel:9493680575">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Call Now | (949) 368-0575</span>
					</span>
					</a>
								</div>
		<div class="elementor-element elementor-element-1d35c74 e-grid e-con-full e-con e-child" data-id="1d35c74" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1a5dfa7 elementor-view-stacked elementor-shape-circle elementor-position-block-start elementor-mobile-position-block-start elementor-widget elementor-widget-icon-box" data-id="1a5dfa7" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span  class="elementor-icon">
				<svg aria-hidden="true" class="e-font-icon-svg e-fas-globe" viewBox="0 0 496 512" xmlns="http://www.w3.org/2000/svg"><path d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z"></path></svg>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							State-Specific Expertise						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						We know the exact state reimbursement rates and billing requirements for every state we operate in.					</p>
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-b0564d9 elementor-view-stacked elementor-shape-circle elementor-position-block-start elementor-mobile-position-block-start elementor-widget elementor-widget-icon-box" data-id="b0564d9" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span  class="elementor-icon">
				<svg aria-hidden="true" class="e-font-icon-svg e-fas-chart-line" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM464 96H345.94c-21.38 0-32.09 25.85-16.97 40.97l32.4 32.4L288 242.75l-73.37-73.37c-12.5-12.5-32.76-12.5-45.25 0l-68.69 68.69c-6.25 6.25-6.25 16.38 0 22.63l22.62 22.62c6.25 6.25 16.38 6.25 22.63 0L192 237.25l73.37 73.37c12.5 12.5 32.76 12.5 45.25 0l96-96 32.4 32.4c15.12 15.12 40.97 4.41 40.97-16.97V112c.01-8.84-7.15-16-15.99-16z"></path></svg>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Maximize Revenue						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						Ensure you receive the highest allowable reimbursement for every service					</p>
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-29024b2 elementor-view-stacked elementor-shape-circle elementor-position-block-start elementor-mobile-position-block-start elementor-widget elementor-widget-icon-box" data-id="29024b2" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span  class="elementor-icon">
				<svg aria-hidden="true" class="e-font-icon-svg e-fas-file-medical" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg"><path d="M377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-153 31V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 160v48c0 4.4-3.6 8-8 8h-56v56c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8v-56h-56c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h56v-56c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v56h56c4.4 0 8 3.6 8 8z"></path></svg>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Compliance Guaranteed						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						Navigate complex payer modifiers and authorization rules					</p>
				
			</div>
			
		</div>
						</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-e5d3636 e-flex e-con-boxed e-con e-parent" data-id="e5d3636" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-99e08d3 elementor-widget elementor-widget-heading" data-id="99e08d3" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Medicare National Benchmarks</h2>				</div>
				<div class="elementor-element elementor-element-c76288c elementor-widget elementor-widget-text-editor" data-id="c76288c" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Medicare sets the foundation for behavioral health reimbursement nationwide, but GPCI creates significant regional variations.</p>								</div>
		<div class="elementor-element elementor-element-7558c9b e-con-full e-flex e-con e-child" data-id="7558c9b" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-3d97348 e-con-full e-flex e-con e-child" data-id="3d97348" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-487f9ef e-con-full e-flex e-con e-child" data-id="487f9ef" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-bd21595 elementor-widget__width-initial elementor-widget elementor-widget-icon-box" data-id="bd21595" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							CPT 90791						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						Diagnostic Evaluation					</p>
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-1ad72dc elementor-widget elementor-widget-heading" data-id="1ad72dc" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">~$166.91</p>				</div>
				</div>
		<div class="elementor-element elementor-element-e566288 e-con-full e-flex e-con e-child" data-id="e566288" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-6757553 elementor-widget__width-initial elementor-widget elementor-widget-icon-box" data-id="6757553" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							CPT 90837						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						60-Min Psychotherapy					</p>
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-4a747c8 elementor-widget elementor-widget-heading" data-id="4a747c8" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">~$154.29</p>				</div>
				</div>
		<div class="elementor-element elementor-element-67ba410 e-con-full e-flex e-con e-child" data-id="67ba410" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-8fa760f elementor-widget__width-initial elementor-widget elementor-widget-icon-box" data-id="8fa760f" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							CPT 90834						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						45-Min Psychotherapy					</p>
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-9d394ed elementor-widget elementor-widget-heading" data-id="9d394ed" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">~$104-114</p>				</div>
				</div>
		<div class="elementor-element elementor-element-7863f2b e-con-full e-flex e-con e-child" data-id="7863f2b" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-97299e8 elementor-widget__width-initial elementor-widget elementor-widget-icon-box" data-id="97299e8" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							CPT 90832						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						30-Min Psychotherapy					</p>
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-fc9ea1c elementor-widget elementor-widget-heading" data-id="fc9ea1c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">~$79-86</p>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-62f9125 e-con-full e-flex e-con e-child" data-id="62f9125" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-62c3912 e-con-full e-flex e-con e-child" data-id="62c3912" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-500e8f2 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="500e8f2" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-angle-double-up" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M177 255.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 351.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 425.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1zm-34-192L7 199.7c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l96.4-96.4 96.4 96.4c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9l-136-136c-9.2-9.4-24.4-9.4-33.8 0z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Highest Medicare Regions</span>
									</li>
						</ul>
						</div>
				<div class="elementor-element elementor-element-5db254d elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="5db254d" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Alaska: 38% above national average</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">CA metros: San Francisco, Santa Clara, Marin</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">New York City metro area</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Seattle, Washington metro</span>
									</li>
						</ul>
						</div>
				</div>
		<div class="elementor-element elementor-element-887906f e-con-full e-flex e-con e-child" data-id="887906f" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-94efdb4 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="94efdb4" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-map-pin" viewBox="0 0 288 512" xmlns="http://www.w3.org/2000/svg"><path d="M112 316.94v156.69l22.02 33.02c4.75 7.12 15.22 7.12 19.97 0L176 473.63V316.94c-10.39 1.92-21.06 3.06-32 3.06s-21.61-1.14-32-3.06zM144 0C64.47 0 0 64.47 0 144s64.47 144 144 144 144-64.47 144-144S223.53 0 144 0zm0 76c-37.5 0-68 30.5-68 68 0 6.62-5.38 12-12 12s-12-5.38-12-12c0-50.73 41.28-92 92-92 6.62 0 12 5.38 12 12s-5.38 12-12 12z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Lowest Medicare Regions</span>
									</li>
						</ul>
						</div>
				<div class="elementor-element elementor-element-c720647 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="c720647" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Arkansas: 3-5% below average</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Idaho, Mississippi, parts of Midwest</span>
									</li>
						</ul>
						</div>
				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-c0911f9 e-flex e-con-boxed e-con e-parent" data-id="c0911f9" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-918fd85 elementor-widget elementor-widget-heading" data-id="918fd85" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Regional Market Tiers</h2>				</div>
				<div class="elementor-element elementor-element-3a2df86 elementor-widget elementor-widget-text-editor" data-id="3a2df86" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>How your state&#8217;s market affects revenue potential</p>								</div>
		<div class="elementor-element elementor-element-755a6b4 e-con-full e-flex e-con e-child" data-id="755a6b4" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-2106ae1 e-con-full e-flex e-con e-child" data-id="2106ae1" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-e9cb688 elementor-widget elementor-widget-icon-box" data-id="e9cb688" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							High-Cost Markets						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						AK, CA, NY, MA, CT, NJ					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-a7556aa e-con-full e-flex e-con e-child" data-id="a7556aa" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-844f557 elementor-widget elementor-widget-icon-box" data-id="844f557" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Medicare						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						15-38% above average					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-73a8745 e-con-full e-flex e-con e-child" data-id="73a8745" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-0f040f6 elementor-widget elementor-widget-icon-box" data-id="0f040f6" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Commercial (60-min)						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						$180-$210+ per session					</p>
				
			</div>
			
		</div>
						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-7b158c5 e-con-full e-flex e-con e-child" data-id="7b158c5" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-2ba2202 e-con-full e-flex e-con e-child" data-id="2ba2202" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-987f39c elementor-widget elementor-widget-icon-box" data-id="987f39c" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Mid-Range Markets						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						TX, CO, WA, OR, IL, VA					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-d29b72b e-con-full e-flex e-con e-child" data-id="d29b72b" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-208795a elementor-widget elementor-widget-icon-box" data-id="208795a" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Medicare						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						Near national average					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-3e52002 e-con-full e-flex e-con e-child" data-id="3e52002" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-94b31b0 elementor-widget elementor-widget-icon-box" data-id="94b31b0" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Commercial (60-min)						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						$140-$170 per session					</p>
				
			</div>
			
		</div>
						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-17a04de e-con-full e-flex e-con e-child" data-id="17a04de" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-bafda12 e-con-full e-flex e-con e-child" data-id="bafda12" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-42f37ae elementor-widget elementor-widget-icon-box" data-id="42f37ae" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Lower-Cost Markets						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						ME, OH, MS, AR, ID					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-d29df87 e-con-full e-flex e-con e-child" data-id="d29df87" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4458879 elementor-widget elementor-widget-icon-box" data-id="4458879" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Medicare						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						3-5% below average					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-2dc2017 e-con-full e-flex e-con e-child" data-id="2dc2017" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d1a2c5e elementor-widget elementor-widget-icon-box" data-id="d1a2c5e" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span  >
							Commercial (60-min)						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						$100-$135 per session					</p>
				
			</div>
			
		</div>
						</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-667999d e-flex e-con-boxed e-con e-parent" data-id="667999d" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-7a1b57e elementor-widget elementor-widget-heading" data-id="7a1b57e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Medicaid: The Wild Card</h2>				</div>
				<div class="elementor-element elementor-element-da95786 elementor-widget elementor-widget-text-editor" data-id="da95786" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Average is 80-81% of Medicare, but state control creates massive inequality.</p>								</div>
		<div class="elementor-element elementor-element-8541d2e e-grid e-con-full e-con e-child" data-id="8541d2e" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-838054e e-con-full e-flex e-con e-child" data-id="838054e" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-d31e701 elementor-widget elementor-widget-heading" data-id="d31e701" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h3 class="elementor-heading-title elementor-size-default">Top Medicaid Payers</h3>				</div>
		<div class="elementor-element elementor-element-cc58482 e-con-full e-flex e-con e-child" data-id="cc58482" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-ede2e20 elementor-widget elementor-widget-heading" data-id="ede2e20" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Nebraska</p>				</div>
				<div class="elementor-element elementor-element-f12a8cc elementor-widget elementor-widget-heading" data-id="f12a8cc" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">2.34x Medicare</p>				</div>
				</div>
		<div class="elementor-element elementor-element-3512651 e-con-full e-flex e-con e-child" data-id="3512651" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-b5d8cb1 elementor-widget elementor-widget-heading" data-id="b5d8cb1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Alaska</p>				</div>
				<div class="elementor-element elementor-element-1364b1a elementor-widget elementor-widget-heading" data-id="1364b1a" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">1.8-2.0x Medicare</p>				</div>
				</div>
		<div class="elementor-element elementor-element-f7ae73b e-con-full e-flex e-con e-child" data-id="f7ae73b" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-8718ced elementor-widget elementor-widget-heading" data-id="8718ced" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">North Dakota</p>				</div>
				<div class="elementor-element elementor-element-75d159d elementor-widget elementor-widget-heading" data-id="75d159d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Above average</p>				</div>
				</div>
		<div class="elementor-element elementor-element-5ca1f52 e-con-full e-flex e-con e-child" data-id="5ca1f52" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-64c254f elementor-widget elementor-widget-heading" data-id="64c254f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Wyoming</p>				</div>
				<div class="elementor-element elementor-element-e60117d elementor-widget elementor-widget-heading" data-id="e60117d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Above average</p>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-914108a e-con-full e-flex e-con e-child" data-id="914108a" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-be4d16e elementor-widget elementor-widget-heading" data-id="be4d16e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h3 class="elementor-heading-title elementor-size-default">Lowest Medicaid Payers</h3>				</div>
		<div class="elementor-element elementor-element-bbbad5e e-con-full e-flex e-con e-child" data-id="bbbad5e" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-dbdb4e4 elementor-widget elementor-widget-heading" data-id="dbdb4e4" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Pennsylvania</p>				</div>
				<div class="elementor-element elementor-element-e9a0de8 elementor-widget elementor-widget-heading" data-id="e9a0de8" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">0.46x (46%)</p>				</div>
				</div>
		<div class="elementor-element elementor-element-f2b529b e-con-full e-flex e-con e-child" data-id="f2b529b" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-40e8595 elementor-widget elementor-widget-heading" data-id="40e8595" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">New Jersey</p>				</div>
				<div class="elementor-element elementor-element-e4fc8ad elementor-widget elementor-widget-heading" data-id="e4fc8ad" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Below average</p>				</div>
				</div>
		<div class="elementor-element elementor-element-ad8535c e-con-full e-flex e-con e-child" data-id="ad8535c" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-8946987 elementor-widget elementor-widget-heading" data-id="8946987" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Rhode Island</p>				</div>
				<div class="elementor-element elementor-element-c635f85 elementor-widget elementor-widget-heading" data-id="c635f85" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Below average</p>				</div>
				</div>
		<div class="elementor-element elementor-element-34a5ea0 e-con-full e-flex e-con e-child" data-id="34a5ea0" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-3636bbb elementor-widget elementor-widget-heading" data-id="3636bbb" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">West Virginia</p>				</div>
				<div class="elementor-element elementor-element-2debf5c elementor-widget elementor-widget-heading" data-id="2debf5c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<p class="elementor-heading-title elementor-size-default">Below average</p>				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-e15f231 e-flex e-con-boxed e-con e-parent" data-id="e15f231" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-8d52bd4 e-con-full e-flex e-con e-child" data-id="8d52bd4" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4d2e846 elementor-widget elementor-widget-heading" data-id="4d2e846" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Stop Leaving Money on the Table</h2>				</div>
				<div class="elementor-element elementor-element-e152877 elementor-widget elementor-widget-text-editor" data-id="e152877" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Cipher Billing ensures you capture every dollar you&#8217;re entitled to. Our state-specific expertise means you never underbill or miss authorization requirements.</p>								</div>
		<div class="elementor-element elementor-element-87fdc95 e-grid e-con-full e-con e-child" data-id="87fdc95" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-80d372c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="80d372c" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Multi-state credentialing management</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">State-specific billing compliance</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Revenue optimization strategies</span>
									</li>
						</ul>
						</div>
				<div class="elementor-element elementor-element-cf39089 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="cf39089" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Payer contract negotiation support</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Real-time rate monitoring</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>						</span>
										<span class="elementor-icon-list-text">Geographic expansion planning</span>
									</li>
						</ul>
						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-af84c82 e-con-full e-flex e-con e-child" data-id="af84c82" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-d01fe66 e-grid e-con-full e-con e-child" data-id="d01fe66" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1b8bdb8 elementor-widget elementor-widget-counter" data-id="1b8bdb8" data-element_type="widget" data-e-type="widget" data-widget_type="counter.default">
							<div class="elementor-counter">
			<div class="elementor-counter-title">Inpatient Day Rate</div>			<div class="elementor-counter-number-wrapper">
				<span class="elementor-counter-number-prefix">$</span>
				<span class="elementor-counter-number" data-duration="2000" data-to-value="1821" data-from-value="0" data-delimiter=",">0</span>
				<span class="elementor-counter-number-suffix"></span>
			</div>
		</div>
						</div>
				<div class="elementor-element elementor-element-04002c9 elementor-widget elementor-widget-counter" data-id="04002c9" data-element_type="widget" data-e-type="widget" data-widget_type="counter.default">
							<div class="elementor-counter">
			<div class="elementor-counter-title">Outpatient Day Rate</div>			<div class="elementor-counter-number-wrapper">
				<span class="elementor-counter-number-prefix">$</span>
				<span class="elementor-counter-number" data-duration="500" data-to-value="1149" data-from-value="0" data-delimiter=",">0</span>
				<span class="elementor-counter-number-suffix"></span>
			</div>
		</div>
						</div>
				<div class="elementor-element elementor-element-7644d11 elementor-widget elementor-widget-counter" data-id="7644d11" data-element_type="widget" data-e-type="widget" data-widget_type="counter.default">
							<div class="elementor-counter">
			<div class="elementor-counter-title">VOB Turnaround</div>			<div class="elementor-counter-number-wrapper">
				<span class="elementor-counter-number-prefix"></span>
				<span class="elementor-counter-number" data-duration="500" data-to-value="9" data-from-value="0" data-delimiter=",">0</span>
				<span class="elementor-counter-number-suffix"> min</span>
			</div>
		</div>
						</div>
				<div class="elementor-element elementor-element-7891a9c elementor-widget elementor-widget-counter" data-id="7891a9c" data-element_type="widget" data-e-type="widget" data-widget_type="counter.default">
							<div class="elementor-counter">
			<div class="elementor-counter-title">Received First Payment</div>			<div class="elementor-counter-number-wrapper">
				<span class="elementor-counter-number-prefix"></span>
				<span class="elementor-counter-number" data-duration="500" data-to-value="30" data-from-value="0" data-delimiter=",">0</span>
				<span class="elementor-counter-number-suffix"> Days</span>
			</div>
		</div>
						</div>
				</div>
				</div>
					</div>
				</div>
				</div>
		